{% macro tag_form(tag, mode='create') %}
<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_utils.js') }}"></script>

<div class="main-content p-4">
    <div class="modal-content">
        <div class="modal-header pb-3">
            <h5 class="modal-title">{{ "Create a New" if mode == 'create' else "Edit" if mode == 'edit' else "" }} Tag
            </h5>
        </div>
        <form method="POST"
            action="{{ url_for('tags.create_tag') if mode == 'create' else url_for('tags.edit_tag', tag_id=tag.id) if mode == 'edit' else '' }}"
            class="modal-body needs-validation" novalidate>
            <div class="mb-3">
                <label for="tag-name" class="form-label">Tag Name</label>
                <input type="text" autocomplete="off" class="form-control" id="tag-name" name="name"
                    value="{{ tag.name if mode == 'edit' and tag.name else '' }}">
            </div>

            <div class="mb-3">
                <label for="tag-color" class="form-label">Tag Color</label>
                <input type="color" class="form-control form-control-color" id="tag-color" name="color"
                    title="Choose a color" value="{{ tag.color if mode == 'edit' and tag.color else '#6c757d' }}">
            </div>

            <div class="modal-footer justify-content-center gap-3">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                {% if mode == 'edit' %}
                <form method="POST" action="{{ url_for('tags.delete_tag', tag_id=tag.id) }}">
                    <input type="hidden" name="tag-id" value="{{ tag.id }}">
                    <button type="submit" class="btn btn-danger remove-tag">Delete Tag</button>
                </form>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    {% if mode == 'create' %}
                    Create Tag
                    {% elif mode == 'edit' %}
                    Save Changes
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}