{% extends 'layout.html' %}
{% from 'macros/sidebar.html' import sidebar %}
{% from 'macros/quick-add.html' import quick_add %}
{% from 'macros/task-table.html' import task_table %}

{% block head %}
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<main id="dashboard">
    {{ sidebar(tabs=dashboard_tabs) }}
    <div class="main-content p-4">
        <!-- Your main content here -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>My Tasks</h2>
        </div>

        <!-- For tasks table -->
        {{ task_table(tasks=tasks, columns=task_columns, task_action_info=task_action_info, user_tags=user_tags) }}

        {{ quick_add() }}
    </div>
</main>
{% endblock %}